{% extends 'base.html' %}

{% block content %}
    <!-- ==========Banner-Section========== -->
    <section class="details-banner event-details-banner hero-area bg_img seat-plan-banner" data-background="https://pixner.net/boleto/demo/assets/images/banner/banner07.jpg">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-content style-two">
                    <h3 class="title"><span class="d-block">{{ event.name }}</span> 
                        {% comment %} <span class="d-block">Conference -2020</span></h3> {% endcomment %}
                    <div class="tags">
                        <span>{{ event.location }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Banner-Section========== -->

    <!-- ==========Page-Title========== -->
    <section class="page-title bg-one">
        <div class="container">
            <div class="page-title-area">
                <div class="item md-order-1">
                    <a href="{% url 'event_detail' event.id %}" class="custom-button back-button">
                        <i class="flaticon-double-right-arrows-angles"></i>back
                    </a>
                </div>
                <div class="item date-item">
                    <h5 class="date">{{ event.date|date:"D, M d Y" }}</h5>
                </div>
                <div class="item">
                    <h5 class="title">{{ event.date|time:"g:i A" }}</h5>
                    {% comment %} <p>Mins Left</p> {% endcomment %}
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Page-Title========== -->

    <!-- ==========Event-Section========== -->
    <div class="event-facility padding-bottom padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-widget checkout-contact">
                        <h5 class="title"><i class="fas fa-user"></i>  Share your Contact  Details </h5>
                        <form class="checkout-contact-form" id="contactForm" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            <input type="hidden" name="event_name" value="{{ event.name }}">
                            <div class="form-group">
                                {% comment %} <input type="text" placeholder="Full Name"> {% endcomment %}
                                <label for="{{ contact_form.full_name.id_for_label }}">Full Name</label>
                                    {{ contact_form.full_name }}
                                    {% if contact_form.full_name.errors %}
                                        <div class="alert alert-danger">{{ contact_form.full_name.errors.0 }}</div>
                                    {% endif %}
                            </div>
                            <div class="form-group">
                                {% comment %} <input type="text" placeholder="Enter your Mail"> {% endcomment %}
                                <label for="{{ contact_form.email.id_for_label }}">Email Address</label>
                                    {{ contact_form.email }}
                                    {% if contact_form.email.errors %}
                                        <div class="alert alert-danger">{{ contact_form.email.errors.0 }}</div>
                                    {% endif %}
                            </div>
                            <div class="form-group">
                                {% comment %} <input type="text" placeholder="Enter your Phone Number "> {% endcomment %}
                                <label for="{{ contact_form.phone.id_for_label }}">Phone Number</label>
                                    {{ contact_form.phone }}
                                    {% if contact_form.phone.errors %}
                                        <div class="alert alert-danger">{{ contact_form.phone.errors.0 }}</div>
                                    {% endif %}
                            </div>
                            <div class="form-group">
                                {% comment %} <input type="submit" value="Continue" class="custom-button"> {% endcomment %}
                                <input type="submit" value="Continue" class="custom-button">
                            </div>
                        </form>
                    </div>
                    <div class="checkout-widget checkout-card mb-0">
                        <h5 class="title"><i class="fas fa-credit-card"></i> Payment Option </h5>
                        <ul class="payment-option">
                            <li class="active" data-method="credit_card">
                                <a href="#0">
                                    <img src="https://pixner.net/boleto/demo/assets/images/payment/card.png" alt="payment">
                                    <span>Credit Card</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <img src="https://pixner.net/boleto/demo/assets/images/payment/card.png" alt="payment">
                                    <span>Debit Card</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <img src="https://pixner.net/boleto/demo/assets/images/payment/paypal.png" alt="payment">
                                    <span>paypal</span>
                                </a>
                            </li>
                        </ul>
                        <h6 class="subtitle">Enter Your Card Details </h6>
                        <form class="payment-card-form">
                            <div class="form-group w-100">
                                <label for="card1">Card Details</label>
                                <input type="text" id="card1">
                                <div class="right-icon">
                                    <i class="flaticon-lock"></i>
                                </div>
                            </div>
                            <div class="form-group w-100">
                                <label for="card2"> Name on the Card</label>
                                <input type="text" id="card2">
                            </div>
                            <div class="form-group">
                                <label for="card3">Expiration</label>
                                <input type="text" id="card3" placeholder="MM/YY">
                            </div>
                            <div class="form-group">
                                <label for="card4">CVV</label>
                                <input type="text" id="card4" placeholder="CVV">
                            </div>
                            <div class="form-group check-group">
                                <input id="card5" type="checkbox" checked>
                                <label for="card5">
                                    <span class="title">QuickPay</span>
                                    <span class="info">Save this card information to my Boleto  account and make faster payments.</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="custom-button" value="make payment">
                            </div>
                        </form>
                        <p class="notice">
                            By Clicking "Make Payment" you agree to the <a href="#0">terms and conditions</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="booking-summery bg-one">
                        <h4 class="title">booking summery</h4>
                        <ul>
                            <li>
                                <h6 class="subtitle">Venus</h6>
                                <span class="info">English-2d</span>
                            </li>
                            <li>
                                <h6 class="subtitle"><span>City Walk</span><span>02</span></h6>
                                <div class="info"><span>10 SEP TUE, 11:00 PM</span> <span>Tickets</span></div>
                            </li>
                            <li>
                                <h6 class="subtitle mb-0"><span>Tickets  Price</span><span>$150</span></h6>
                            </li>
                        </ul>
                        <ul class="side-shape">
                            <li>
                                <h6 class="subtitle"><span>combos</span><span>$57</span></h6>
                                <span class="info"><span>2 Nachos Combo</span></span>
                            </li>
                            <li>
                                <h6 class="subtitle"><span>food & bevarage</span></h6>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="info"><span>price</span><span>$207</span></span>
                                <span class="info"><span>vat</span><span>$15</span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="proceed-area  text-center">
                        <h6 class="subtitle"><span>Amount Payable</span><span>$222</span></h6>
                        <a href="#0" class="custom-button back-button">proceed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========Event-Section========== -->

{% endblock %}
